{% extends "base.html" %}
{% block pagetitle %}Item Cart{% endblock %}

{% block content %}


<br/>
{% with messages = get_flashed_messages(category_filter=["add_to_cart_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}
<br/>
<table class="table">
    <th>INVENTORY</th><th>CART</th>
    <tr>
    <form class='form-inline' method='post' action="{{url_for('.add_to_cart')}}">
    <td style="width:50%;" id="inventory_list">
    <!-- Item List -->
    
    <!-- {% if items %}
        {% for item in items %}
        <tr>
            <td>
                {{item['name']}}
            </td>
            <td>
                {{item['price']}}
            </td>
            <td>
                <input type="hidden" name="item_id" value="{{item['_id']}}"/>
                <input type="hidden" name="name" value="{{item['name']}}"/>
                <input type="hidden" name="price" value="{{item['price']}}"/>
                <input class="form-control" type="text" name="quantity" placeholder='0'/>
            </td>
            <td>
                <a href="edit/{{item['_id']}}">Edit Item</a>
            </td>
        </tr>
        {% endfor %}
    {% endif %} -->
    <script type="text/jsx" src="{{url_for('static', filename='js/inventory.js')}}"></script>
    <script type="text/jsx">
        React.render(
            <InventoryBox/>,
            document.getElementById('inventory_list')
        );
    </script>
    
    </td>
    <td style="width:50%;">
    <!-- CART -->
    <table class="table">
    <form class='form-inline' method='post' action="{{url_for('.purchase')}}">
    <th>Item Name</th><th>Price</th><th>Quantity</th>
    {% if cart_items %}
        {% for item in cart_items %}
            <tr>
                <td>{{item['name']}}</td>
                <td>{{item['total_price']}}</td>
                <td>{{item['quantity']}}</td>
                <input type="hidden" name="name" value="{{item['name']}}"/>
                <input type="hidden" name="quantity" value="{{item['quantity']}}">
                <input type="hidden" name="item_id" value="{{item['_id']}}"/>
            </tr>
        {% endfor %}
    {% endif %}
    <tr>
    <td colspan="3" style="text-align:right;">
    <form class='form-inline' method='post' action="">
    <input type="submit" class="btn btn-primary" value="Purchase">
    </form>
    </table>
    </td>
    </tr>
</table>



{% with messages = get_flashed_messages(category_filter=["create_item_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}
<h4>Add New Item</h4>
<table class="table">
<tr>
    <!-- FORM FOR NEW ITEMS -->
    <td style="width:50%;" id="item_form">
    <!-- <table class="table">
    <tr>
        <td>Name:</td><td><input class='form-control' type='text' name='item_name' placeholder='Item Name'/></td>
    </tr>
    <tr>
        <td>Price:</td><td><input class="form-control" type='text' name='item_price' placeholder='0.00' /></td>
    </tr>
    <tr>
        <td colspan="2"><input class='btn btn-primary' type='submit' /> </td>
    </tr>
    </table> -->

    <script type="text/jsx">
        React.render(
            <ItemForm/>,
            document.getElementById('item_form')
        );
    </script>

    </td>
    <!-- PURCHASED ITEMS TABLE -->
    <td style="width:50%;">
    <table class="table">
    <th>ITEMS PURCHASED</th><th>Quantities</th>
    {% if purchased_items %}
        {% for item in purchased_items %}
            <tr>
                <td>{{item['name']}}</td>
                <td>{{item['quantity']}}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </table>
    </td>

</tr>
</table>
{% endblock %}