{% extends "base.html" %}
{% block pagetitle %}Edit Item{% endblock %}
{% block content %}
<h1>Current Item Details</h1>

<table class="table">
    <tr>
        <td><strong>Item Name</strong></td>
        <td><strong>Price</strong></td>
    </tr>

    {% if item %}
    <tr>
        <td>
            {{item['name']}}
        </td>
        <td>
            {{item['price']}}
        </td>
    </tr>
    {% endif %}

</table>

<h2>Edit Item</h2>

{% with messages = get_flashed_messages(category_filter=["create_post_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}

<form class='form-inline' method='post' action="{{item['_id']}}">
    <input type='hidden' name='old_name' value="{{item['name']}}">
    <input type="hidden" name='old_price' value="{{item['price']}}">
    <input class='form-control' type='text' name='item_name' placeholder='Item Name' value="{{item['name']}}"/>
    <input class='form-control' type='text' name='item_price' placeholder='0.00'    value="{{item['price']}}"/>
    <input class='btn btn-primary' type='submit' /> 
</form>

{% endblock %}