{% extends "base.html" %}

{% block pagetitle %}Edit Post{% endblock %}
{% block content %}
<h1>Post</h1>

<table class="table">
    <tr>
        <th>Current Post Content</th>
    </tr>

    {% if post %}
    <tr>
        <td>
            <p>{{post['post']}}<i style="color:#cecece;"> - {{post['emotion']}}</i></p>
        </td>
    </tr>
    {% endif %}

</table>

<h2>Edit Post</h2>

{% with messages = get_flashed_messages(category_filter=["create_post_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}

<form class='form-inline' method='post' action="{{post['_id']}}">
    <input class='form-control' type='text' name='new_post' placeholder='Add Post' value="{{post['post']}}"/>
    <select class='form-control' name='emotion' placeholder='Select Emotion'>
        <option value="{{post['emotion']}}">{{post['emotion']}}</option>
        <option value="feeling happy! :)">feeling happy! :)</option>
        <option value="feeling sad. . . :(">feeling sad. . . :(</option>
        <option value="feeling confused. X_x">feeling confused. X_x</option>
        <option value="feeling ANGRY! ;(">feeling ANGRY! ;(</option>
    </select>
    <input class='btn btn-primary' type='submit' /> 
</form>

{% endblock %}