{% extends "base.html" %}
{% block pagetitle %}Posts{% endblock %}
{% block content %}
<h1>Posts</h1>

<table class="table">
    <tr>
        <th>Post List for {{ date }}</th>
    </tr>

    {% for post in posts %}
    <tr>
        <td>
            <p>{{post['post']}}<i style="color:#cecece;"> - {{post['emotion']}}</i></p>
            </td>
            <td>
            <a href="edit/{{post['_id']}}">Edit Post</a>
            </td>
    </tr>
    {% endfor %}

</table>

<h2>Add Post</h2>

{% with messages = get_flashed_messages(category_filter=["create_post_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}

<form class='form-inline' method='post' action="{{url_for('.create_post')}}">
    <input class='form-control' type='text' name='new_post' placeholder='Add Post'/>
    <select class='form-control' name='emotion' placeholder='Select Emotion'>
        <option value="feeling happy! :)">feeling happy! :)</option>
        <option value="feeling sad. . . :(">feeling sad. . . :(</option>
        <option value="feeling confused. X_x">feeling confused. X_x</option>
        <option value="feeling ANGRY! ;(">feeling ANGRY! ;(</option>
    </select>
    <input class='btn btn-primary' type='submit' /> 
</form>

{% endblock %}